html{
  height: 100%;
  background: #f3f3f3;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.tools {
  max-width: 1090px;
  margin: 0 auto;
  color: #333;
}
.tools__title{
  padding: 10px 0 5px 5px;
  font-size: 16px;
}
.tools__content{
  display: flex;
  flex-wrap: wrap;
}
.tools__main-title {
  font-size: 22px;
  font-weight: bolder;
  padding: 40px 0;
  text-align: center;
}

.tools__item{
  margin-bottom: 10px;
  position: relative;
  height: 90px;
  box-sizing: border-box;
  overflow: hidden;
}
.tools__item-container{
  display: flex;
  padding: 10px;
  margin-right: 10px;
  height: 100%;
  background: #fff;

}
.tools__item-logo {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}
.tools__item-desc{
  color: #9e9e9e;
  margin-left: 10px;
  flex-grow: 1;
  .tools__item-title{
    white-space: nowrap;
    font-size: 16px;
    a{
      color: #2d8cf0;

    }
  }
  .tools__item-sub {
    height: 32px;
    line-height: 16px;
    color: #9e9e9e;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: text;
    word-break: break-all;
  }
  .tools__item-links {
    height: 16px;
    line-height: 16px;
    // display: flex;
    a {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}



@media (max-width: 799px) {
  .category__report[data-v-382b7874] {
      display:none
  }

  .tools__item {
      width: 50%
  }
}

@media (min-width: 800px) and (max-width:999px) {
  .tools__item {
      width:33%
  }
}

@media (min-width: 1000px) {
  .tools__item {
      width:25%
  }
}